#main
  %canvas{:id=>'main_view', :class=>'canvas', :width => 1024, :height=> 768}
  #data
    %h1
      Анамезон
    Последний клик:
    %br
    %b{:id=>'current_coords'}
    %br
    Под мышью:
    %br
    %b{:id=>'under_mouse'}
    %br
    Скорость:
    %br
    %b{:id=>'speed'}
    %br
    Позиция:
    %br
    %b{:id=>'pos'}
    %br
    Известные точки:
    %br
    #known_points

  #clear